body {
	background: rgb(189, 252, 141); /* pink green */
}

/* mobile phone */
@media screen and (min-resolution: 150dpi) {
	body {
		background: rgb(220, 255, 190);
	}
}

/* iphone */
@media screen and (-webkit-min-device-pixel-ratio:2) {
	body {
		background: rgb(220, 255, 190);
	}
}
