body {
	background: #eeee99; /* yellow */
	/* rgb(195, 193, 255) Thanos purple */
	/* rgb(189, 252, 141) pink green */
}

/* mobile phone */
@media screen and (min-resolution: 150dpi) {
	body {
		background: #eeeedd;
	}
}

/* iphone */
@media screen and (-webkit-min-device-pixel-ratio:2) {
	body {
		background: #eeeedd;
	}
}
