:root {
  --shade: rgba(255, 255, 255, 0.1);
  --theme-color: #88e6cf;
}
html {
  background: #1a1a1a;
}
body {
  position: relative;
  margin: 0 auto 80px auto;
  padding: 0 40px 40px 40px;
  max-width: 800px;
  background: #222;
  color: #ccc;
  font-family: 等线, -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,"Segoe UI",Arial,"PingFang SC", "Microsoft YaHei",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5em;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px #111;
}
body::after {
  content: '';
  position: absolute;
  bottom: -50px;
  right: 30px;
  /*
  height: 35px;
  width: 0;
  border-left: 15px solid crimson;
  border-right: 15px solid crimson;
  border-bottom: 15px solid transparent;
  */
  background: linear-gradient(rgb(31, 28, 24), rgb(142, 14, 0));
  clip-path: polygon(0 0, 0 50px, 15px 35px, 30px 50px, 30px 0);
  height: 50px;
  width: 30px;
}
h1 {
  position: relative;
  color: #aaa;
  background: #333;
  box-shadow: 0 0 5px #222;
  line-height: 1.5em;
  padding: 1.5em;
  margin: 0 0 2em;
  border-radius: 0 0 5px 5px;
}
h1 > small {
  font-weight: normal;
  font-size: 20px;
}
h1::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  top: 0;
  left: 0;
  background: var(--theme-color);
  transition: width .3s;
}
h1:hover::after {
  width: 100%;
}
h2 {
  margin: 2em 0 1em 0;
  border-bottom: 1px solid #555;
  padding-bottom: 5px;
}
h3, h4, h5, h6 {
  margin-top: 2.5em;
  margin-bottom: 1em;
}
blockquote {
  border-left: 5px solid #888;
  padding-left: 10px;
  color: #888;
  font-style: italic;
  margin-left: 1em;
  margin-right: 1em;
}
code, pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, "PingFang SC", "Microsoft YaHei", monospace;
  background-color: #2a2a2a;
}
pre {
  padding: .2em .6em;
  border-radius: 6px;
  overflow: auto;
  line-height: 1em;
}
code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
}
pre > code {
  padding: 0;
  background-color: transparent;
}
a {
  color: #4ca0ff;
  text-decoration: none;
}
ul, ol {
  padding-left: 2em;
}

summary {
  cursor: pointer;
  width: max-content;
  user-select: none;
  padding: 4px 8px;
  border-radius: 6px;
  background: #2a2a2a;
  transition: border-radius .3s;
}
summary::marker {
  content: '';
}
summary::before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 6px transparent solid;
  border-bottom: 6px transparent solid;
  border-left: 12px #ccc solid;
  margin-right: 4px;
  transition: transform .3s;
}
details[open] > summary {
  border-radius: 6px 6px 0 0;
}
details[open] > summary::before {
  transform: rotate(90deg);
}
details + div {
  display: grid;
  overflow: hidden;
  transition: grid-template-rows .3s, padding .3s;
  grid-template-rows: 0fr;
  background: #2a2a2a;
  border-radius: 0 6px 6px 6px;
  padding: 0;
}
details[open] + div {
  grid-template-rows: 1fr;
  padding: 8px 0;
}
details + div > ul {
  overflow: hidden;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

table {
  border-collapse: collapse;
}
thead > tr,
tbody > tr:nth-child(2n) {
  background-color: rgba(170, 170, 170, 0.05);
}
table th, table td {
  padding: 6px 13px;
  border: 1px solid #333;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--shade);
  background-clip: padding-box;
  border-radius: 4px;
  min-height: 28px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::selection {
  background-color: var(--shade);
}
::-moz-selection {
  background-color: var(--shade);
}

/* mobile phone */
@media screen and ((min-resolution: 150dpi) or (-webkit-min-device-pixel-ratio:2)) {
  h1 > small {
    white-space: nowrap;
  }
}
@media print {
  h1 {
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 2em 0 1em 0;
    background-color: transparent;
  }
  body {
    color: #111;
    background-color: #fff;
    box-shadow: none;
  }
  body::after {
    display: none;
  }
  body summary::before {
    transform: rotate(90deg);
  }
  body details + div {
    grid-template-rows: 1fr;
  }
  code, pre {
    background-color: #eee;
  }
}
