* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Microsoft Yahei", Kaiti, Songti, serif, sans-serif;
	font-size: 14px;
	margin: 5%;
	background: #eeee99; /* yellow */
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img.geo {
	width: 250px;
	height: 250px;
	float: right;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	margin: 3.6em 0 1.8em 0;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
	margin: 2.4em 0 1.2em 0;
}

h3 {
	font-weight: bold;
	font-size: 1.2em;
	margin: 1.8em 0 0.9em 0;
}

h4 {
	font-weight: bold;
	font-size: 1em;
	margin: 1.8em 0 0.9em 0;
}

p {
	margin: 10px 0;
}

pre {
	font-size: 0.85em;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

math {
	font-family: "Latin Modern Math";
	font-size: 1.2em;
}

.formula {
	display: table;
	width: 100%;
	text-align: center;
	line-height: 2em;
	margin: 15px;
}

.center {
	text-align: center;
}

.note {
	padding: 0.5em;
	border-radius: 0.5em;
	background: rgba(0,0,0,0.2);
}

.prove, .solve, .answer {
	padding: 0.5em;
	border-radius: 0 0.5em 0.5em 0.5em;
	background: rgba(0,0,0,0.2);
	margin-top: 0;
}

button.toggle-show-answer {
	font-size: 1em;
	padding: 0.2em 0.4em;
	border-radius: 0.5em;
	border: none;
	font-weight: bold;
	color: black;
	background: rgba(0, 0, 0, 0.2);
	margin-bottom: 0;
}

span.box {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
}

/* use this to number your formula */
span.label {
	position: absolute;
	padding-right: 0.3em;
	right: 5%;
}

span.right {
	float: right;
}

ol, ul {
	margin: 0.4em 0;
}

ol li {
	margin: 0.3em 2em;
}

ol ol li {
	margin: 0.3em 0;
}

/*
ol.enum ol li {
	display: inline-block;
}
*/

ul li {
	margin: 7px 20px;
}

/* ol style (1) (2) (3)... */
ol.enum ol {
	list-style-type: none;
	counter-reset: enum_cnt;
}

ol.enum ol > li {
	counter-increment: enum_cnt;
}

ol.enum ol > li:before {
	content: "(" counter(enum_cnt) ") ";
}

/* ol style a. b. c. */
ol.subenum ol {
	counter-reset: subenum_cnt;
}

ol.subenum ol > li {
	counter-increment: subenum_cnt;
}

ol.subenum ol > li:before {
	content: "(" counter(subenum_cnt, lower-roman) ") ";
}

/* multi-columns */
.col2 li {
	width: 45%;
	display: inline-block;
}

.col3 li {
	width: 30%;
	display: inline-block;
}

.col4 li {
	width: 21%;
	display: inline-block;
}

.col5 li {
	width: 16%;
	display: inline-block;
}

table {
	margin: 20px auto;
	border-top: 2px solid;
	border-bottom: 2px solid;
}

td, th {
	padding: 5px 8px 5px 8px;
}

#nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 36px;
	text-align: center;
	background: rgba(0,0,0,0.2);
}

#nav a {
	margin: 0 15px;
	line-height: 36px;
	font-size: 28px;
	font-weight: bold;
	color: white;
}

#prev {
	float: left;
}

#next {
	float: right;
}

/* on printer... */
@media print {
	body {
		margin: 0;
		font-size: 10pt;
		font-family: SimSun, Songti, STIXGeneral, times, serif;
		background: rgb(255,255,255);
	}

	h1, h2, h3, h4, h5, h6, b {
		font-family: "AR PL UMing CN Bold", "Microsoft YaHei", serif;
		font-weight: bold;
	}

	/*.note {
		font-family: fang-song, Kaiti;
	}  open A10 and you got a problem...*/

	#nav {
		display: none;
	}

	.toggle-show-answer {
		display: none;
	}

	.pagebreak {
		page-break-after: always;
	}
}

/* on your mobile phone... */
@media screen and (min-height: 800px) {
	#nav {
		height: 64px;
	}

	#nav a {
		line-height: 64px;
		font-size: 52px;
	}

	body {
		font-size: 28px;
		background: #eeeedd; /* lighter yellow */
	}
}

