/* style enhancement for msedge */
mrow {
  width: max-content;
  margin: 0 auto;
}
msqrt > mrow {
  padding-top: .1em;
}
mroot > *:first-child {
  padding-top: .3em;
}
menclose[notation=box] {
  border: 1px solid currentColor;
  padding: .1em;
}

mpadded[width='+1ex'] {
  width: max-content;
  padding-right: 1ex;
}
mpadded[width='+2ex'] {
  width: max-content;
  padding-right: 2ex;
}

ms {
  display: inline;
}
ms:before,
ms:after {
  content: "\0022";
}
ms[lquote]:before {
  content: attr(lquote);
}
ms[rquote]:after {
  content: attr(rquote);
}

mfenced {
  display: inline;
  font-size: 0;
}
mfenced > * {
  display: inline-flex;
  font-size: initial;
}
mfenced::before {
  content: "(";
  font-size: initial;
}
mfenced::after {
  content: ")";
  font-size: initial;
}
mfenced > *:not(:first-child)::before {
  content: ",";
  padding-right: .2em;
  display: inherit;
}
