* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Microsoft Yahei", Kaiti, Songti, serif, sans-serif;
	font-size: 0.87em;
	margin: 5%;
	background: #eeee99; /* yellow */
	/* rgb(195, 193, 255) Thanos purple */
	/* rgb(189, 252, 141) pink green */
}

#ios-wrapper {
	height: 100%;
	margin: 0 5%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

u {
	background: rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0);
}

u:hover {
	color: inherit;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	margin: 3.6em 0 1.8em 0;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
	margin: 2.4em 0 1.2em 0;
}

h3 {
	font-weight: bold;
	font-size: 1.2em;
	margin: 1.8em 0 0.9em 0;
}

h4 {
	font-weight: bold;
	font-size: 1.1em;
	margin: 1.8em 0 0.9em 0;
}

caption {
	font-weight: bold;
	margin: 0.9em 0 0.9em 0;
}

p {
	margin: 0.8em 0;
}

pre {
	font-family: "DejaVu Sans Mono", consolas, monospace;
	font-size: 0.95em;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;

	margin: 0.5em;
	padding: 0.5em 2em;
	border-radius: 0.5em;
	background: rgba(0,0,0,0.2);
	overflow-x: auto;
}

pre.solution {
	margin: 0 0.5em 0.5em 0;
	padding: 0.5em 2em;
	border-radius: 0 0.5em 0.5em 0.5em;
}

pre.remark {
	margin: 0.5em;
	padding: 0.5em 2em;
}

math {
	/*font-family: "Latin Modern Math";*/
	font-size: 1.2em;
}

.formula {
	display: table;
	width: 100%;
	text-align: center;
	line-height: 2em;
	margin: 1em 0;
}

.center {
	text-align: center;
}

.remark {
	padding: 0.5em;
	border-radius: 0.5em;
	background: rgba(0,0,0,0.2);
}

.proof, .solution, .answer {
	padding: 0.5em;
	border-radius: 0 0.5em 0.5em 0.5em;
	background: rgba(0,0,0,0.2);
	margin-top: 0;
}

button.copy-code {
	text-align: right;
	float: right;
	width: 30%;
	font-size: 1em;
	border: none;
	color: black;
	background: rgba(0, 0, 0, 0);
	cursor: pointer;
	opacity: 0;
}

button.copy-code:hover {
	opacity: 1;
}

button.toggle-show-answer {
	font-size: 1em;
	padding: 0.2em 0.4em;
	border-radius: 0.5em;
	border: none;
	font-weight: bold;
	color: black;
	background: rgba(0, 0, 0, 0.2);
	margin-bottom: 0;
}

button.toggle-show-answer:hover {
	cursor: pointer;
}

div.graph {
	height: 25em;
	text-align: center;
	font-size: 0.9em;
}

div.graph img {
	height: 90%;
	display: block;
	margin: 0 auto;
}

div.graph span {
	float: bottom;
}

span.box {
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.5em;
	background: rgba(0,0,0,0.2);
}

/* use this to number your formula */
span.label {
	display: table-cell;
	text-align: right;
}

/* ... and this to force align */
span.label-phantom {
	display: table-cell;
	text-align: right;
	opacity: 0;
}

span.right {
	float: right;
}

span.transparent {
	color: rgba(0, 0, 0, 0);
}

ol, ul {
	margin: 0.8em 0;
}

ol li, ul li {
	margin: 0.3em 1.5em;
}

ol ol li {
	margin: 0.3em 1em;
}

/* ol style (1) (2) (3)... */
ol.enum ol {
	list-style-type: none;
}

ol.enum > ol {
	counter-reset: enum_cnt;
}

ol.enum ol > li {
	counter-increment: enum_cnt;
}

ol.enum ol > li:before {
	content: "(" counter(enum_cnt) ") ";
}

/* ol style i ii iii */
ol.subenum ol {
	counter-reset: subenum_cnt;
}

ol.subenum ol > li {
	counter-increment: subenum_cnt;
}

ol.subenum ol > li:before {
	content: "(" counter(subenum_cnt, lower-roman) ") ";
}

/*
ol.enum ol li {
	display: inline-block;
}
*/

dl dt {
	font-size: 1em;
	font-weight: bold;
}

dl dd {
	margin-bottom: 0.3em;
	margin-left: 2em;
}

/* multi-columns */
.col2 li,.col2 div {
	width: 43%;
	display: inline-block;
}

.col3 li,.col3 div {
	width: 27%;
	display: inline-block;
}

.col4 li,.col4 div {
	width: 18%;
	display: inline-block;
}

.col5 li,.col5 div {
	width: 14%;
	display: inline-block;
}

table {
	margin: 2em auto;
	border-top: 2px solid;
	border-bottom: 2px solid;
}

td, th {
	padding: 0.45em 0.75em 0.45em 0.75em;
}

#last-modified {
	text-align: right;
	color: #999;
}

/*
#nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 36px;
	text-align: center;
	background: rgba(0,0,0,0.2);
}

#nav a {
	margin: 0 15px;
	line-height: 36px;
	font-size: 28px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

#toc {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	border: none;
	box-shadow: 0 0 10px 0.2rem black;
}
*/

/* on printer... */
@media print {
	body {
		margin: 0;
		font-size: 10pt;
		font-family: SimSun, Songti, STIXGeneral, times, serif;
		background: white;
	}

	h1, h2, h3, h4, h5, h6, b {
		font-family: "AR PL UMing CN Bold", "Microsoft YaHei", serif;
		font-weight: bold;
	}

	a {
		color: black;
	}

	/*.remark {
		font-family: fang-song, Kaiti;
	}  open A10 and you got a problem...*/

	/*
	#nav {
		display: none;
	}
	*/

	.toggle-show-answer {
		display: none;
	}

	.pagebreak {
		page-break-after: always;
	}
}

/* on your mobile phone... */
@media screen and (min-resolution: 150dpi) {
	/*
	#nav {
		height: 64px;
	}

	#nav a {
		line-height: 64px;
		font-size: 52px;
	}

	#toc {
		width: 600px;
	}
	*/

	body {
		font-size: 0.8em;
		background: #eeeedd; /* lighter yellow */
	}

	math {
		font-size: 1em;
	}

	div.graph {
		height: 15em;
	}
}

.MathJax {
	/* enable auto linebreak for span.formula */
	display: inline-block !important;
}

/* svg */
svg {
	stroke: black;
	fill: none;
	width: 100%;
}

svg text {
	stroke: none;
	fill: black;
}

svg path.arrow {
	marker-end: url(#arrow-end);
}

svg path.double-arrow {
	marker-start: url(#arrow-start);
	marker-end: url(#arrow-end);
}

svg path.dashed {
	stroke-dasharray: 5, 5;
}
