body {
	padding: 0;
	margin: 45px 5%;
	background: #222;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
}
.word {
	display: inline-block;
	margin: 5px;
	padding: 3px;
	background: #444;
	border-radius: 2px;
}
.word:hover {
	background: #59b;
	transform: scale(1.2);
	transition: .1s;
}
.char {
	display: inline-flex;
	justify-content: center;
	align-items: baseline;
	flex-direction: column-reverse;
	line-height: 1em;
}
.phonic {
	color: #ddd;
	font-size: 0.7em;
}
