.g-full {
  width: 100%;
  height: 100%;
}
.g-full-window {
  width: 100vw;
  height: 100vh;
}
.g-inline-block {
  display: inline-block;
}
.g-relative {
  position: relative;
}
.g-absolute {
  position: absolute;
  left: 0;
  top: 0;
}
.g-fixed {
  position: fixed;
  left: 0;
  top: 0;
}
.g-flex {
  display: flex;
}
.g-column {
  display: flex;
  flex-direction: column;
}
.g-space-between {
  display: flex;
  justify-content: space-between;
}
.g-center,
.g-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.g-transform-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.g-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 多行文本超出隐藏 */
.g-ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
