<html>
<head>
	<meta charset="utf-8">
	<title>zmx0142857 的数学笔记</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<link href="https://cdn.bootcss.com/ionic/1.3.2/css/ionic.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/ionic/1.3.2/js/ionic.bundle.min.js"></script>
</head>

<body ng-app="mathNoteApp" ng-controller="mathNoteCtrl">

<ion-side-menus>

<ion-side-menu-content>
	<!-- header-bar -->
	<ion-header-bar class="bar-dark">
		<button class="button button-icon" ng-click="toggleSideMenu()">
			<i class="icon ion-navicon"></i>
		</button>
		<h1 class="title">{{activeArticle.title}}</h1>
		<button class="button button-icon" ng-click="menu()">
			<i class="icon ion-plus"></i>
		</button>
	</ion-header-bar>

	<!-- main article -->
	<ion-content scrolling="no" style="overflow-y:scroll;-webkit-overflow-scrolling:touch">
	<iframe id="article-container" style="height:99.5%;width:100%;">
	</iframe>
	</ion-content>
</ion-side-menu-content>

<!-- left side menu -->
<ion-side-menu side="left">

	<ion-header-bar class="bar-dark">
		<button class="button button-icon" ng-click="prevArticle()">
			<i class="icon ion-arrow-left-c"></i>
		</button>
		<h1 class="title">目录</h1>
		<button class="button button-icon" ng-click="nextArticle()">
			<i class="icon ion-arrow-right-c"></i>
		</button>
	</ion-header-bar>

	<ion-content style="overflow-y:auto">
	<ion-list>
		<div ng-repeat="group in groups"
			ng-click="selectGroup($index)">
			<div class="item item-divider"
				style="color: #808080; font-size: 1em">
				{{group.title}}
			</div>
			<ion-list>
			<ion-item ng-repeat="article in group.articles"
					ng-click="selectArticle(group, $index)"
					ng-class="{active:activeArticle == article}">
				{{article.title}}
			</ion-item>
			</ion-list>
		</div>
	</ion-list>
	</ion-content>
</ion-side-menu>

</ion-side-menus>

<script src="js/table-of-contents.js"></script>
<script src="js/index.js"></script>

</body>
</html>
