:root {
  --shade: rgba(255, 255, 255, 0.1);
}
html {
  background: #1a1a1a;
}
body {
  position: relative;
  margin: 0 auto 80px auto;
  padding: 0 40px 40px 40px;
  max-width: 800px;
  background: #222;
  color: #ccc;
  font-family: 等线, sans-serif;
  line-height: 1.5em;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px #111;
}
body::after {
  content: '';
  position: absolute;
  bottom: -50px;
  right: 30px;
  /*
  height: 35px;
  width: 0;
  border-left: 15px solid crimson;
  border-right: 15px solid crimson;
  border-bottom: 15px solid transparent;
  */
  background: linear-gradient(rgb(31, 28, 24), rgb(142, 14, 0));
  clip-path: polygon(0 0, 0 50px, 15px 35px, 30px 50px, 30px 0);
  height: 50px;
  width: 30px;
}
h1 {
  color: #aaa;
  background: #333;
  box-shadow: 0 0 5px #222;
  line-height: 1.5em;
  padding: 1.5em;
  margin: 0 0 2em;
  border-radius: 0 0 5px 5px;
}
h1 > small {
  font-weight: normal;
  font-size: 20px;
}
h2 {
  margin: 2em 0 1em 0;
  border-bottom: 1px solid #555;
  padding-bottom: 5px;
}
blockquote {
  border-left: 5px solid #888;
  padding-left: 10px;
  color: #888;
  font-style: italic;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--shade);
  background-clip: padding-box;
  border-radius: 4px;
  min-height: 28px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::selection {
  background-color: var(--shade);
}
::-moz-selection {
  background-color: var(--shade);
}

/* mobile phone */
@media screen and ((min-resolution: 150dpi) or (-webkit-min-device-pixel-ratio:2)) {
  h1 > small {
    white-space: nowrap;
  }
}
